/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 13.9;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

//The CSS rule you provided targets all paragraph (p) and heading (h1 to h6) elements in the HTML document. The overflow-wrap: break-word; property-value pair tells the browser to insert a line break between any two words that would otherwise overflow their containing box. This ensures that long words or URLs won't overflow their container.

#root,
#__next {
  isolation: isolate;
}
